/* Practicing Flex CSS */
* {
  background-color: #1f2937;
  margin: 0;
  padding: 0;
}

/* Start of Header*/
.wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0;
  margin: 20px;
}
.containerHeader {
  display: flex;
  justify-content: space-around;
}
.wrapper h1 {
  color: #f9faf8;
  font-size: 24px;
}

.wrapper ul {
  display: flex;
  gap: 2em;
  font-size: 18px;
  text-decoration: none;
  padding-right: 100px;
}
.wrapper a {
  text-decoration: none;
  color: #e5e7eb;
}
/* End of Header */

/* Start of Hero */
.containerHero {
  display: flex;
  flex-direction: row;
  margin: 75px 75px 0 75px;
}
.containerHero article {
  margin: 0 100px 50px 0px;
}
.containerHero h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bold;
}
.containerHero p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 20px;
}
.containerHero button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: bold;
  min-height: 2em;
  width: 100px;
  max-width: 5em;
  border-radius: 10px;
}
.containerHero h2 {
  background-color: grey;
  padding: 50px 100px 50px 100px;
  margin: 30px 100px 50px 0;
}
/* End of Hero */

/* Start of Container 1 */
.container1 {
  display: flex;
  flex-direction: column;
  background-color: #f9faf8;
  max-width: 100%;
  padding: 25px 100px 50px 100px;
  justify-content: space-evenly;
}
div.containerInfo {
  display: flex;
  flex-direction: row;
}

.container1 div {
  background-color: #f9faf8;
}
.container1 h1 {
  background-color: #f9faf8;
  font-size: 36px;
  font-weight: bolder;
  margin-left: 500px;
  padding-bottom: 50px;
}
/* Container for Image and Paragraphs Line 42 */
.containerImages1 {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}
.containerImages2 {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  gap: 20px;
}
.container1 h3 {
  background-color: #f9faf8;
  color: #f9faf8;
  border: solid 5px #1f2937;
  box-shadow: #1f2937;
  padding: 50px;
  border-radius: 10px;
  max-height: 20px;
  margin: 0 0px 0 0px;
}
.container1 p {
  margin-top: 20px;
  background-color: #f9faf8;
}
/* End of Container 1 */

/* Start of Container 2 */
.container2,
.container2 div {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  max-width: 100%;
  min-height: 10em;
  padding: 10px 100px 10px 100px;
  justify-content: center;
}
.container2 q {
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  text-align: center;
}
.container2 h2 {
  background-color: #e5e7eb;
  text-align: end;
  margin-right: 400px;
  font-size: 36px;
}
/* End of Container 2 */

/* Start of Footer */
.containerFooter {
  padding: 15px;
  text-align: center;
  color: white;
}
/* End of Footer */

/* Media Queries */
@media only screen and (max-device-width: 480px) {
}
@media screen and (max-width: 768px) {
  button span {
    display: none;
  }
  button {
    padding: 10px;
  }
}
/*  */
